.register{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.leftSide,.regImg{
    width: 650px;
    height: 516px;
}
.regImg{
    object-fit: cover;
}

.regDiv{
    position: absolute;
    right: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.regDiv>*{
    margin: 7px;
}

.rightSide{
    top: 70px;
    position: absolute;
    right: 150px;
}
