.slidebar{
    flex: 3;
    margin-top: 100px;
}

.sideText{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    margin-top: 20px;
    flex-direction: column;
}

.sideItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 50px;
}

.vijay{
    height: 300px;
    width: 300px;
}

.sideTextItem{
    padding: 10px;
}

.sideText1>*{
    padding-left: 10px;
}