.singlepost{
    flex: 3;
    padding: 30px 100px;
}

.img-fluid1{
    width: 100%;
    height: 350px;
    border-radius: 2%;
}

.text{
    padding-top: 10px;
}

.author{
    color:brown;
}
.content{
    padding-top: 30px;
}

.title1{
    text-align: center;
}


.icon{
    display: flex;
    justify-content:flex-end;
}

.icon>*{
    margin-left: 10px;
    cursor: pointer;
}